$o-gallery-is-silent: false;
@import 'o-gallery/main';
$o-expander-is-silent: false;
@import 'o-expander/main';

// Turn off IE8 rules here and output them in an IE specific css file
$o-grid-ie8-rules: false !default;
$n-layout-is-silent: false;
@import 'n-layout/critical';
@import 'n-video/main';
@import 'n-content-body/main';
@import 'next-buttons/main';
@import 'next-myft-ui/main';

@import 'helpers';
@import 'components/article/main';
@import 'components/share/main';
@import 'components/read-next/main';
@import 'components/suggested-reads/main';
@import 'components/ads/main';

.next-header {
	margin-bottom: 0;
}

/*! start:main.css */
$n-layout-is-silent: false;
@import 'n-layout/non-critical';

@import 'n-message-prompts/main';
@import 'n-light-signup/main';
@import 'n-content-body/scss/mixins';

@import 'components/toc/main';
@import 'components/onward-journey/main';
@import 'components/story-package';
@import 'components/comments/skeleton';
@import 'components/first-click-free/main';
@import 'components/special-report/main';
@import 'components/follow-promo/main';
@import 'components/ftlabsadblockerhandling/main';
@import 'comments';

// Print Styling
@media print {
	body > section,
	.n-myft-ui,
	.o-header,
	.article__tags,
	.article__myft-tags-list,
	.article__body > div,
	.n-content-copyright,
	.article__more-on,
	.more-on--abtest_b--wrapper,
	.more-ons-tags,
	.article__comments,
	.article__share,
	.story-package,
	.follow-promo,
	.article__actions,
	.js-special-report,
	.next-up__bottom__wrapper,
	.more-on__topic--link,
	.table-of-contents,
	.pod {
		display: none;
	}
	.o-grid-row {
		display: inherit;
	}
}
/*! end:main.css */
