@import "next-sass-setup/main";
$o-gallery-is-silent: false;
@import "o-gallery/main";
@import "o-fonts/main";
@import "labs-o-share/main";
$o-expander-is-silent: false;
@import "o-expander/main";
@import "n-video/main";
$n-layout-is-silent: false;
@import "n-layout/main";

.next-header {
	margin-bottom: 0;
}

@import "next-myft-ui/main";
@import "next-buttons/main";
@import "n-message-prompts/main";
@import "n-content-body/main";
@import "n-light-signup/main";

@import "helpers";
@import "components/article/main";
@import "components/toc/main";
@import "components/share/main";
@import "components/onward-journey/main";
@import "components/story-package";
@import "components/first-click-free/main";
@import "components/special-report/main";
@import "components/suggested-reads/main";
@import "components/read-next/main";
@import "components/follow-promo/main";
@import "components/labsshare/main";
@import "components/ftlabsadblockerhandling/main";
@import "components/ads/main";
@import "components/comments/skeleton";
@import "comments";

// Print Styling
@media print {
	body > section,
	.n-myft-ui,
	.o-header,
	.article__tags,
	.article__myft-tags-list,
	.article__body > div,
	.n-content-copyright,
	.article__more-on,
	.more-on--abtest_b--wrapper,
	.more-ons-tags,
	.article__comments,
	.article__share,
	.story-package,
	.follow-promo,
	.article__actions,
	.js-special-report,
	.next-up__bottom__wrapper,
	.more-on__topic--link,
	.table-of-contents,
	.pod {
		display: none;
	}
	.o-grid-row {
		display: inherit;
	}
}
