$output-critical: true !default;

@import 'n-ui/configure';
$n-ui-output-critical: $output-critical;
@include nUiConfigure(
	$features: (
		buttons: true,
		tourTip: true
	),
	$preset: 'complete'
);
@import 'n-ui/bootstrap';

@include nUiCriticalStart();
	@import 'n-image/main';
	@import 'n-card/components/classifier';

	[data-o-grid-colspan~=Loffset1] {
		@include oGridRespondTo(L) {
			@include oGridOffset(1);
		}
	}

	[data-o-grid-colspan~=XLoffset1] {
		@include oGridRespondTo(XL) {
			@include oGridOffset(1);
		}
	}
	@import 'helpers';
	@import 'n-content-body/main';

	@import 'components/article/main';
	@import 'components/classifier/main';
	@import 'components/headline/main';
	@import 'components/read-next/main';
	@import 'components/suggested-reads/main';

	.next-header {
		margin-bottom: 0;
	}
	.myft-ui__qr-code {
		display: none;
	}
@include nUiCriticalEnd();

@import 'components/share/main';
@import 'components/ads/main';
$o-expander-is-silent: false;
@import 'o-expander/main';
$o-gallery-is-silent: false;
@import 'o-gallery/main';
$o-video-is-silent: false;
@import 'o-video/main';
@import 'o-email-only-signup/main';
@import 'n-section/main';
@import 'components/comments/skeleton';
@import 'components/first-click-free/main';
@import 'components/follow-promo/main';
@import 'components/onward-journey/main';
@import 'components/special-report/main';
@import 'components/story-package';
@import 'components/toc/main';
@import 'components/light-signup/light-signup';
@import 'components/tour-tip/main';
@import 'components/tearsheets/main';

// Print Styling
@media print {
	body > section,
	.article__actions,
	.article__aside,
	.article__body > div,
	.article__comments,
	.article__more-on,
	.article__myft-tags-list,
	.article__share,
	.article__tags,
	.core .o-header__search,
	.follow-promo,
	.js-special-report,
	.more-on,
	.more-on--abtest_b--wrapper,
	.more-ons-tags,
	.n-content-copyright,
	.n-content-related-box__image-link,
	.n-myft-ui,
	.next-up,
	.next-up__bottom__wrapper,
	.o-footer,
	.o-footer__container,
	.o-header__container,
	.o-header__drawer,
	.o-header__nav,
	.o-header--sticky,
	.o-header__top-column--left,
	.o-header__top-column--right,
	.pod,
	.skeleton,
	.story-package,
	.table-of-contents {
		display: none !important;
	}

	.o-grid-row {
		display: inherit;
	}

	.o-header__top-logo {
		background-image: none;

		&:after {
			content: url('https://next-geebee.ft.com/image/v1/images/raw/ftlogo:brand-ft-masthead?source=o-header&tint=%23505050,%23505050&format=svg');
			display: block;
		}
	}

	.n-content-image {
		margin: 0 auto 1em;
	}

	.n-image {
		width: 100%;
	}

	// NOTE - horrible! removes the article body's offset, otherwise IE8 leaves it in when printing
	.article__header-inner,
	.article__main {
		> *:first-child {
			margin-left: 0;
			padding-left: 0;
		}
	}

	.more-ons-tags--qr-code {
		width: 100%;
		max-width: 100%;

		.more-ons-tags {
			display: block;
		}

		.n-content-tag__list-item--with-follow {
			float: left;
			padding: 10px;
		}

		.n-content-tag__list-item--with-follow:nth-child(4) ~ * {
			display: none;
		}

		.myft-ui__qr-code {
			display: block;
			height: 100pt;
			width: 100pt;
		}

		.n-content-tags__product-tour {
			clear: both;
		}
	}
}
