<div class="o-email-only-signup o-email-only-signup__visually-hidden" data-o-component="o-email-only-signup" data-trackable="light-signup" aria-hidden="true">
	<div class="o-email-only-signup__inner">
		<button class="o-email-only-signup__close" style="border:none" data-o-email-only-signup-close><span class="o-email-only-signup__visually-hidden">Close</span></button>
		<h3 class="o-email-only-signup__heading">Get a taste of the FT</h3>
		<p class="o-email-only-signup__tagline">Sample the FT, with the top stories sent FREE to your inbox every morning.</p>
		<p class="o-email-only-signup__text">For 1 week, you’ll get an email with free access to the 3 most read FT stories.</p>
		<div class="o-email-only-signup__secondary" data-o-email-only-signup-completion-message>
			<form class="o-email-only-signup__form" data-o-email-only-signup-form>
				<label for="email" class="o-email-only-signup__visually-hidden">Email address:</label>
				<input data-o-grid-colspan="7" type="text" id="email" name="email" class="o-email-only-signup__email o-forms-text" data-trackable="email">
				<button data-o-grid-colspan="4" type="submit" class="o-email-only-signup__submit" data-trackable="submit">Sign up</button>
				<p class="o-forms-errortext o-email-only-signup__email-error-msg o-email-only-signup__visually-hidden" data-o-email-only-signup-email-error>Invalid email</p>
				<p class="o-email-only-signup__no-spam">By clicking Sign Up you confirm that you have read and agree to the <a target="_blank" href="http://help.ft.com/tools-services/ft-com-terms-and-conditions">terms and conditions</a>, <a target="_blank" href="http://help.ft.com/tools-services/how-the-ft-manages-cookies-on-its-websites">cookie policy</a> and <a target="_blank" href="http://help.ft.com/tools-services/financial-times-privacy-policy">privacy policy</a>. Unsubscribe at any time.</p>
			</form>
		</div>
	</div>
</div>
