<div class="top-banner-ad-container top-banner-ad-container--desktop top-banner-ad-container--above-nav js-top-banner-above-nav top-banner-ad-container--reveal">
	<div id="dfp-ad--top-above-nav" class="js-ad-slot ad-slot ad-slot--dfp ad-slot--top-above-nav ad-slot--top-banner-ad ad-slot__fluid250" data-link-name="ad slot top-above-nav" data-test-id="ad-slot-top-above-nav" data-name="top-above-nav" > <div style="border: 0pt none;" class="ad-slot__content">

		<div class="creative--fluid250-bg-container o-grid-row--compact">


			<div class="creative--fluid250 l-side-margins
    hide-until-tablet" data-o-grid-colspan="hide M12" style="
        background-color: transparent;
        background-image: url();
        background-position: center top;
        background-repeat: no-repeat;
    ">
		<div class="ad-scrolling-bg" style="background-image: url('https://tpc.googlesyndication.com/pagead/imgad?id=CICAgKCTseDtfxABGAEyCAKbO0i3Lx8B'); background-position: 50% 0; background-repeat: repeat-y"></div>

		<div class="gs-container">
            <div class="fluid250_layer fluid250_layer1" style="
                background-image: url();
                background-position: left top;
            "></div>
            <div class="fluid250_layer fluid250_layer2" style="
                background-image: url(https://tpc.googlesyndication.com/pagead/imgad?id=CICAgKCT0f6zUxABGAEyCKSHNG0grD45);
                background-position: 0% 0%;
            "></div>
            <div class="fluid250_layer fluid250_layer3" style="
                background-image: url(https://tpc.googlesyndication.com/pagead/imgad?id=CICAgKCTkdmXcBABGAEyCBbdGp56spO6);
                background-position: right top;
            "></div>
		</div>
		</div>

<div class="creative--fluid250 l-side-margins" data-o-grid-colspan="12 Mhide" style="
        background-color: transparent;
        background-image: url();
        background-position: left top;
        background-repeat: no-repeat;
    ">
        <div class="gs-container">
            <div class="fluid250_layer fluid250_layer1" style="
                background-image: url(https://tpc.googlesyndication.com/pagead/imgad?id=CICAgKCT0d736wEQARgBMggEMVlFKooZCg);
                background-position: left top;
            "></div>
            <div class="fluid250_layer fluid250_layer2" style="
                background-image: url(https://tpc.googlesyndication.com/pagead/imgad?id=CICAgKCT0f6zUxABGAEyCKSHNG0grD45);
                background-position: left top;
            "></div>
            <div class="fluid250_layer fluid250_layer3" style="
                background-image: url(https://tpc.googlesyndication.com/pagead/imgad?id=CICAgKCTyZay7gEQARgBMggdv31u3VCb_g);
                background-position: right top;
            "></div>
        </div>
</div>

</div></div>
</div>
</div>
