<div>
	<div class="article__share article__share--{{location}} n-util-clearfix" data-trackable="share | {{location}}">
		{{#if shared}}
			<div class="article__share-share-message">
				This article has been gifted to you by an FT Subscriber.
			</div>
		{{/if}}
		{{#if @root.flags.articleShareButtons}}
			<div data-o-component="o-share" class="o-share">
				<ul>
					<li class="o-share__action o-share__action--twitter">
						<a target="_blank" rel="noopener" href="https://twitter.com/intent/tweet?url={{encode url mode='uriComponent'}}&amp;text={{encode title mode='uriComponent'}}&amp;via=FT" data-trackable="twitter"><i>Twitter</i></a>
					</li>
					<li class="o-share__action o-share__action--facebook">
						<a target="_blank" rel="noopener" href="http://www.facebook.com/sharer.php?u={{encode url mode='uriComponent'}}&amp;t={{encode title mode='uriComponent'}}" data-trackable="facebook"><i>Facebook</i></a>
					</li>
					<li class="o-share__action o-share__action--linkedin">
						<a target="_blank" rel="noopener" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{encode url mode='uriComponent'}}&amp;title={{encode title mode='uriComponent'}}&amp;source=Financial+Times" data-trackable="linkedin"><i>LinkedIn</i></a>
					</li>
					<li class="o-share__action o-share__action--whatsapp">
						<a target="_blank" rel="noopener" href="whatsapp://send?text={{encode title mode='uriComponent'}}%20-%20{{encode url mode='uriComponent'}}" data-trackable="whatsapp"><i>Whatsapp</i></a>
					</li>
					{{#ifAll signedIn @root.flags.giftArticle}}
						<li class="article__share-action--email o-share__action o-share__action--email">
							<button
								data-n-article-email-clickable
								data-n-article-email-container="{{location}}"
								data-n-article-email-free-article="{{freeArticle}}"
								data-trackable="email">
								<i>Email</i>
							</button>
						</li>
					{{/ifAll}}
				</ul>
			</div>
		{{/if}}
		<div class="article__save">
			{{#ifEquals contentType 'article'}}
				<a class="article__share__print" href="javascript:window.print()" data-trackable="print">
					<span class="n-util-visually-hidden">Print this page</span>
				</a>
			{{/ifEquals}}
			{{#ifAll @root.flags.saveForLater @root.flags.myFtApiWrite}}
				{{>n-ui/myft/templates/save-for-later contentId=id}}
			{{/ifAll}}
		</div>
	</div>
	{{#ifAll signedIn @root.flags.giftArticle}}
		<div data-n-article-email-{{location}}-container></div>
	{{/ifAll}}
	<div class="article__share-bottom-gutter--{{location}}"></div>
</div>
