*.env*
.DS_Store
.editorconfig
.eslintrc.js
.scss-lint.yml
whitesource.config.json

/.node-version
/libxslt/include
/libxslt/share
/libxslt/lib
/node*
/npm-debug.log*
/public/__about.json
/public/asset-hashes.json
/public/comments.css
/public/comments.css.map
/public/comments.js
/public/comments.js.map
/public/head.css
/public/head.css.map
/public/head-n-ui-core.css
/public/head-n-ui-core.css.map
/public/main-ie8.css
/public/main-ie8.css.map
/public/main.css
/public/main.css.map
/public/main-without-n-ui.js
/public/main-without-n-ui.js.map

/test/browser/reports
/test/browser/screenshots
/test/visual/screenshots

/__attic/
/.haikro-cache/
/.idea/
/.sass-cache/
/bower_components/
/coverage/
/tmp/
