{{#defineBlock 'globalDataAttributes'}}data-content-id="{{id}}"{{/defineBlock}}
{{#defineBlock 'head'}}
	{{> rel-canonical}}
	{{#if premiumArticle}}
		<meta name="robots" content="noindex">
	{{/if}}
	<link rel="amphtml" href="https://amp.ft.com/content/{{id}}" />
	<meta name="description" content="{{description}}"/>
{{/defineBlock}}
{{#if sampleArticles}}
	<header class="sample-articles__ribbon" data-trackable="sample-articles-ribbon">
		<div class="sample-articles__ribbon__wrapper o-grid-container">
			<div class="o-grid-row">
				<h2 class="sample-articles__ribbon__banner__heading" data-o-grid-colspan="12 M7 XL5 XLoffset1">You're sampling the Financial Times</h2>
				<div class="sample-articles__ribbon__link__banner__wrapper" data-o-grid-colspan="12 M5 XL6">
					<a class="sample-articles__ribbon__text_link" href="#more-sample-articles" data-trackable="more">More sample articles</a>
				</div>
			</div>
		</div>
	</header>
{{/if}}
<article id="site-content" role="main" class="article{{#if designGenre}} article--brand {{#if designGenre.headshot}}article--brand--headshot{{/if}}{{/if}}" data-content-id="{{id}}" data-content-sources="{{#if articleV1}}v1{{/if}} {{#if articleV2}}v2{{/if}}">

	{{#defineBlock 'above-header'}}
		{{> ads/top}}
	{{/defineBlock}}

	{{> header/content-header}}
	<div class="article__wrapper {{#if mainImageHtml}}article__wrapper--main-image{{/if}}">
		{{#ifSome bodyHTML media}}
		<div class="o-grid-container">
			<div class="article__main o-grid-row">
				<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
					{{#if mainImageHTML}}
						{{{mainImageHTML}}}
					{{/if}}
					{{> toolbar location='top'}}
					<div class="article__time-byline">
						{{#if publishedDate}}
							<time class="article__timestamp o-date" data-o-component="o-date" datetime="{{#dateformat}}{{publishedDate}}{{/dateformat}}" data-o-date-js>
							{{#dateformat "mmmm d, yyyy"}}{{publishedDate}}{{/dateformat}}
							</time>
						{{/if}}
						{{#if byline}}
							<p class="article__byline">{{#ifEquals contentType 'article'}}by: {{/ifEquals}}{{{byline}}}</p>
						{{/if}}
					</div>
					{{#ifEquals contentType 'article'}}
						{{#if tocHTML}}
							<div class="article__body--toc">
								{{{tocHTML}}}
							</div>
						{{/if}}
						{{> body-article bodyHTML=bodyHTML}}
						{{#if lightSignup.show}}
							{{> light-signup tag=primaryTag articleUuid=id isInferred=lightSignup.isInferred}}
						{{/if}}
					{{/ifEquals}}
					{{#ifEquals contentType 'podcast'}}
						{{#if standFirst}}
							<div class="article__body n-content-body" data-trackable="article-body">
								<p>{{{standFirst}}}</p>
							</div>
						{{/if}}
						<div class="article__media">
							{{#with media}}
							<audio controls>
								<source src="{{url}}" type="{{mediaType}}" />
								<p>
									Your browser does not support playing this file but you can still <a href="{{url}}">download the MP3 file</a> to play locally.
								</p>
							</audio>
							{{/with}}
						</div>
						{{> body-podcast}}
					{{/ifEquals}}
					{{> copyright-notice}}
					{{> toolbar location='bottom'}}
					{{#if tagToFollow}}
						{{>follow-promo  tag=tagToFollow buttonSize="medium"}}
					{{/if}}
				</div>
				{{> right-hand/right-hand}}
			</div>
		</div>
		{{/ifSome}}
	</div>
</article>

{{>propensity-messaging-promo-unit}}

{{#if sampleArticles}}
	{{> related/sample-articles}}
{{/if}}

{{#ifAll readNextArticle readNextArticle.moreRecent}}
	{{>read-next-bottom article=readNextArticle}}
{{/ifAll}}

{{> bottom/bottom}}

<script type="text/json" id="dehydrated-metadata">{{{json dehydratedMetadata}}}</script>
