// Markets Data Company Links
[data-symbol] {
	position: relative;
	background: getColor('pink-tint1');
}

.tearsheet {
	border: 2px solid;
	padding: 10px;

	thead {
		font-weight: 600;
	}
}

.tearsheet__heading {}

.tearsheet__heading-title {}

.tearsheet__heading-symbol {
	&:before {
		content: ' [';
	}

	&:after {
		content: ']';
	}
}

.tearsheet__quote {
	table-layout: fixed;
	width: 100%;
}

.tearsheet__quote-last-price {}

.tearsheet__quote-currency {
	&:before {
		content: ' (';
	}

	&:after {
		content: ')';
	}
}

.tearsheet__quote-change-value {
	&:after {
		content: ' / ';
	}
}

.tearsheet__quote-change-percent {
	&:after {
		content: '%';
	}
}

.tearsheet__quote-change-direction {}

.tearsheet__quote-volume-traded {}

.tearsheet__caption {
	font-size: 80%;
}

.tearsheet__caption-timestamp {
	font-style: italic;
}
