<div class="ftlabs-ad-block-handling-ui o-grid-row" data-o-grid-colspan="12 XL11 XLoffset1">
	<div data-o-grid-colspan="full-width Mone-half">
		<h2>FT Labs: Ad Blocking Responses Survey</h2>
		<h3></h3>
		<p><p>
	</div>

	<div data-o-grid-colspan="full-width Mone-half" class="controls-container">

		<div class="controls">

			<button class="button-left">Previous</button>
			<button class="button-right">Next</button>

		</div>

		<a target="_blank" href="https://docs.google.com/a/ft.com/forms/d/1VQUV2Um3_XbnREkoweU7L2rf176bTOXwaKtc4ICFwQs/viewform">Feedback/Ideas</a>

	</div>
</div>
