.article-header-ad-placeholder {
		@include oGridRespondTo($from: L) {
			min-height: 90px;
			padding-top: 1em;
			display: block;
			padding-bottom: 0px;
			line-height: 0;
			white-space: pre;
			text-align: center;
			background: getColor('pink');
		}
	}

	.article--brand {
		.article-header-ad-placeholder {
			background-color: getColor('warm-1');
		}
	}

	.sidebar-ad-placeholder {
		@include oGridRespondTo(L) {
			display: flex;
			flex: 1 1 auto;
			margin: 1em 0;
		}
	}
