
// Ad breakpoint where leaderboards start working
$ad-medium-breakpoint: 760px;
/*! start:head.css */
.above-header-advert {
	@media (min-width:$ad-medium-breakpoint) {
		display: block;
		min-height: 90px;
		height: 90px;
		padding: 10px 0;
		line-height: 0;
		white-space: pre;
		text-align: center;
		background: getColor('pink');
	}
	&[data-o-ads-loaded="Responsive"] {
		padding: 0;
		height: auto;
		min-height: calc(100vw * 0.1734); //aspect ratio of responsive creatives
		@include oGridRespondTo($until: S) {
			min-height: calc(100vw * 0.481);
		}
	}

	&.o-ads--empty,
	&[data-o-ads-loaded="false"] {
		height: 0;
		min-height: 0;
		padding: 0;
	}
}

.article--brand {
	.article-header-advert {
		background-color: getColor('warm-1');
	}
}

.advert--background {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALElEQVQIW2M8d2znf2kJMQZkwPjy3vn/T1+8YkCWAAuCVCFLwAWRJVAEYRIAHZ8dptpqH2wAAAAASUVORK5CYII=) repeat;
}

.advert--transition {
	will-change: min-height, padding, height;
	transform: translate3d(0, 0, 0);
	transition: height 0.35s ease-in-out, min-height 0.35s ease-in-out, padding 0.35s ease-in-out;
}

/*! end:head.css */
.sidebar-advert {
	@include oGridRespondTo(L) {
		display: block;
	}
}

.in-article-advert {
	visibility: hidden;
	height: 0;
	width: 0;
	overflow: hidden;
	&[data-o-ads-loaded="Responsive"][data-o-ads-master-loaded="Responsive"] {
		visibility: visible;
		height: auto;
		width: auto;
		clear: both;
	}

	@include oGridRespondTo($until: L) {
		visibility: visible;
		height: auto;
		width: auto;
		clear: both;
	}

}
