{{#if articles.length}}
	<div class="suggested-reads__container" role="group" aria-labelledby="suggested-reads__title" data-trackable="suggested-reads">
		<h3 id="suggested-reads__title" class="suggested-reads__title">
			More on this topic
		</h3>
		{{#if topic}}
			<p class="suggested-reads__subheading">
				Suggestions below based on
				{{#with topic}}
					<a class="suggested-reads__topic" data-trackable="topic" href="{{url}}">{{name}}</a>
				{{/with}}
			</p>
		{{/if}}
		<div class="suggested-reads__list">
			{{#each articles}}
				<article class="suggested-reads__list-item" data-trackable="suggested-read | {{@index}}">
					<a href="{{url}}" class="suggested-reads__list-item__headline" data-trackable="headline">
						<span class="card__classifier-gap">
							<h4 class="suggested-reads__list-item__headline-text">{{title}}</h4>
						</span>
						{{#ifAll @root.flags.articlePremiumLabel premiumArticle}}
							<span class="article-classifier">Premium</span>
						{{/ifAll}}
					</a>
					<p class="suggested-reads__list-item__subheading">{{subheading}}</p>
				</article>
			{{/each}}
		</div>
	</div>
{{/if}}
