@include nUiCritical {
	.gift-banner {
		display: none;
	}
}

.gift-banner {
	position: absolute;
	margin: 0;
	display: block;
	cursor: auto;

	@include oGridRespondTo($until: 'S') {
		top: 100%;
		left: 50%;
		width: 240px;
		margin-left: -120px;
		text-align: center;
	}

	@include oGridRespondTo($from: 'S') {
		top: 0;
		left: 100%;
		white-space: nowrap;
	}
}

.gift-banner__pointer {
	position: relative;

	@include oGridRespondTo($until: 'S') {
		@include oIconsGetIcon('arrow-up', oColorsGetPaletteColor('teal-1'), 16);
		top: 6px;
		display: block;
		width: 100%;
	}

	@include oGridRespondTo($from: 'S') {
		@include oIconsGetIcon('arrow-left', oColorsGetPaletteColor('teal-1'), 16);
		top: 4px;
		margin-right: -5px;
	}
}

.gift-banner__label {
	@include oFontsInclude(MetricWeb);

	font-weight: bold;
	font-size: 14px;
	color: oColorsGetPaletteColor('teal-1');

	&:before {
		@include oIconsGetIcon('gift', oColorsGetPaletteColor('teal-1'), 16);

		content: '';
		position: relative;
		top: 3px;
		margin-right: 2px;
	}

}
