.skeleton {
	font-family: BentonSans, sans-serif;
	width: 100%;
	margin-top: 20px;
}

.skeleton:before {
	content: 'COMMENTS';
}

.skeleton__inner {
	width: 100%;
	margin: 20px 0 60px;
}

@mixin skeleton-line($width) {
	width: $width;
	height: 15px;
	background: linear-gradient(to right, #fff1e0, #f3ede5, #fff1e0);
}

.skeleton__text {
	@include skeleton-line(100%);
	position: relative;
	margin-top: 30px;
}

.skeleton__text:before {
	@include skeleton-line(100%);
	content: '';
	position: absolute;
	top: -20px;
}

.skeleton__text:after {
	@include skeleton-line(100%);
	content: '';
	position: absolute;
	bottom: -20px;
}

.skeleton__avatar {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #fff1e0;
}

.skeleton__avatar:before {
	@include skeleton-line(160px);
	@media (min-width:280px) {
		width: 200px
	}
	@media (min-width:380px) {
		width: 300px
	}
	content: '';
	position: absolute;
	left: 60px;
	top: 5px;
}

.skeleton__avatar:after {
	@include skeleton-line(120px);
	@media (min-width:380px) {
		width: 200px
	}
	content: '';
	position: absolute;
	left: 60px;
	top: 25px;
}
