.skeleton {
	font-family: BentonSans, sans-serif;
	width: 100%;
	margin-top: 20px;
}

.skeleton:before {
	content: 'COMMENTS';
}

.skeleton__inner {
	width: 100%;
	margin: 20px 0 60px;
}

@mixin skeleton-line($width, $animation) {
	width: $width;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: $animation;
	animation-timing-function: linear;
	background: #fff1e0;
	background-image: linear-gradient(to left, #fff1e0 0%, #e9decf 50%, #fff1e0 100%);
	background-repeat: no-repeat;
	background-size: 800px 15px;
	height: 15px;
	position: relative;

}

@keyframes namePulse {
	0% {
		background-position: -800px 0;
	}
	15% {
		background-position: -800px 0;
	}
	100% {
		background-position: 800px 0;
	}
}

@keyframes bodyPulse {
	0% {
		background-position: -800px 0;
	}
	100% {
		background-position: 800px 0;
	}
}

@keyframes avatarPulse {
	0% {
		background-position: -200px 0;
	}
	70% {
		background-position: 200px 0;
	}
	100% {
		background-position: 200px 0;
	}
}

.skeleton__text {
	@include skeleton-line(100%, bodyPulse);
	position: relative;
	margin-top: 30px;
}

.skeleton__text:before {
	@include skeleton-line(100%, bodyPulse);
	content: '';
	position: absolute;
	top: -20px;
}

.skeleton__text:after {
	@include skeleton-line(100%, bodyPulse);
	content: '';
	position: absolute;
	bottom: -20px;
}

.skeleton__avatar {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #fff1e0;
	background-image: linear-gradient(to left, #fff1e0 0%, #e9decf 50%, #fff1e0 100%);
	background-repeat: no-repeat;
	background-size: 200px 50px;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: avatarPulse;
	animation-timing-function: linear;
}


.skeleton__avatar:before {
	@include skeleton-line(160px, namePulse);
	@media (min-width:280px) {
		width: 200px;
	}
	@media (min-width:380px) {
		width: 300px;
	}
	content: '';
	position: absolute;
	left: 60px;
	top: 5px;
}

.skeleton__avatar:after {
	@include skeleton-line(120px, namePulse);
	@media (min-width:380px) {
		width: 200px;
	}
	content: '';
	position: absolute;
	left: 60px;
	top: 25px;
}
