{{#each moreOns}}
<div
	role="region"
	data-trackable="more-on | {{@index}}"
	aria-labelledby="more-on-{{@index}}-title">

	<div class="more-on">
		<div class="pod">
			<div class="header">
				<span class="header__title">
					<h3 id="more-on-{{@index}}-title" class="header__name">
						Latest {{title}} {{name}}
					</h3>
					{{#if @root.flags.myFtApi }}
						{{>n-ui/myft/templates/follow version='3' conceptId=id}}
					{{/if}}
				</span>
				<a class="header__link" href="{{url}}" data-trackable="topic">
					<span class="header__link__text">See all</span>
				</a>
			</div>
			<div class="js-more-on"></div>
		</div>
	</div>
	<div class="more-on__topic--link">
		<a class="header__link--bottom" href={{url}} data-trackable="topic">See all {{title}} {{name}}</a>
	</div>
</div>
{{/each}}
