<li class="pod__item-wrapper {{#ifEquals @index 0}}pod__item-wrapper--lead{{/ifEquals}} {{#if mainImage}}pod__item-wrapper--image{{/if}}">
	<article class="pod__item" data-trackable="pod | {{@index}}">
		{{#ifEquals @index 0}}
			{{#if mainImage}}
				<a class="pod__item__image-link n-utils-hide-core" href="{{url}}" data-trackable="image">
					<div class="pod__item__image-placeholder">
						<img class="pod__item__image n-image n-image--lazy-loading" data-srcset="{{mainImage.srcset}}" sizes="{{mainImage.sizes}}" alt="{{mainImage.alt}}" />
					</div>
				</a>
			{{/if}}
		{{/ifEquals}}
		<div class="pod__item__content">
			{{#if primaryTag}}
				<a class="n-content-tag" href="{{primaryTag.url}}" data-trackable="topic">
					{{primaryTag.prefLabel}}
				</a>
			{{/if}}
			<h4 class="pod__item__headline">
				<a class="pod__item__headline-link" href="{{url}}" data-trackable="headline">{{title}}</a>
			</h4>
			{{#if subheading}}
				<p class="pod__item__subheading">{{subheading}}</p>
			{{/if}}
		</div>
		<div class="pod__item__time">
			<time data-o-component="o-date" class="o-date" data-recent="{{isRecent}}" datetime="{{#dateformat}}{{publishedDate}}{{/dateformat}}">
				{{#dateformat "dddd, d mmmm, yyyy"}}{{publishedDate}}{{/dateformat}}
			</time>
		</div>
	</article>
</li>
