<section class="sample-articles" data-trackable="sample-articles">
	<header class="sample-articles__ribbon">
		<div class="sample-articles__ribbon__wrapper jump-to-block" id="more-sample-articles">
			<h3 class="sample-articles__ribbon__heading">
				More sample articles
				<span class="sample-articles__ribbon__subheading">
					from the Financial Times
				</span>
			</h3>
			<div class="sample-articles__ribbon__link__wrapper">
				<a
					class="sample-articles__ribbon__link n-header__marketing-promo__link"
					href="/products"
					data-trackable="subscribe"
				>Subscribe</a>
			</div>
		</div>
	</header>
	<div class="sample-articles__body">
	{{#with sampleArticles.mainTopic}}
		<div data-o-component="o-expander" class="o-expander items sample-articles__wrapper"
			data-o-expander-shrink-to="4"
			data-o-expander-count-selector="li"
			data-o-expander-expanded-toggle-text="Show less"
			data-o-expander-collapsed-toggle-text="Show more"
			data-trackable="main-topic"
		>
			<h3 class="sample-articles__header__lead">Related Articles</h3>
			<ul class="o-expander__content sample-articles__items">
				{{#each articles}}
					<li class="sample-articles__item__wrapper__lead">
						<article class="sample-articles__item">
							<h4 class="sample-articles__item__headline">
								<a class="sample-articles__item__headline-link" href="{{url}}" data-trackable="headline">
									{{title}}
								</a>
							</h4>
						</article>
					</li>
				{{/each}}
			</ul>
			<button class="o-expander__toggle o--if-js sample-articles__more-button">Show more</button>
		</div>
	{{/with}}
		<div class="sample-articles__wrapper">
			<h3 class="sample-articles__header__lead">Recommended Reads</h3>
			<ul class="sample-articles__items" data-trackable="other-topics">
				{{#each sampleArticles.otherTopics}}
					<li class="sample-articles__item__wrapper">
						<article class="sample-articles__item">
							<h3 class="sample-articles__header">{{ title }}</h3>
							<h4 class="sample-articles__item__headline">
								<a class="sample-articles__item__headline-link" href="{{ articles.0.url }}" data-trackable="headline">
									{{ articles.0.title }}
								</a>
							</h4>
							<div class="sample-articles__count">1 of {{ articles.length }} from this topic</div>
						</article>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</section>
