.more-on__topic--link {
	position: relative;
	padding-right: 20px;
	margin-bottom: 20px;
	display: block;
	text-align: right;
	@include oGridRespondTo(M) {
		display: none;
	}
}

.header {
	position: relative;
	padding: 0;
	margin-top: 10px;
	overflow: hidden;
}
.header__name {
	@include oTypographySerifDisplay('m', $load-progressively: true);
	display: inline;
	margin: 0 10px 0 0;
	padding: 10px 0 0;
	color: getColor('cold-3');
	&--sans-serif {
		@include oTypographySansData('l', $load-progressively: true);
		@include oTypographyFallbackFontSize('sansData', 20px);
	}
}
.header__title {
	&:after {
		display: none;
		content: "";
		position: absolute;
		margin-left: 10px;
		height: 1px;
		border-bottom: 1px solid getColor('warm-3');
		top: 18px;
		width: 100%;
		@include oGridRespondTo(M) {
			display: initial;
		}
	}
}

.header__link {
	@include oTypographySansDataBold('m', $load-progressively: true);
	font-size: 16px;
	position: relative;
	background-color: getColorFor('page', 'background');
	border-bottom: 0;
	float: right;
	margin-left: 10px;
	padding: 8px 20px 0 10px;
	min-height: 24px;
	transition: color 0.3s;

	&:hover {
		color: getColor('cold-2');

		&:after {
			@include oIconsGetIcon('arrow-right', getColor('cold-2'), 16);
		}
	}
	&:after {
		@include oIconsGetIcon('arrow-right', getColor('link-1'), 16);
		display: none;
		content: '';
		position: absolute;
		top: 8px;
		right: 0;
		@include oGridRespondTo(M) {
			display: inline-block;
		}
	}
}
.header__link__text {
	display: none;
	@include oGridRespondTo(M) {
		display: block;
	}
}

.header__link--bottom {
	&:after {
		@include oIconsGetIcon('arrow-right', getColor('link-1'), 10);
		content: '';
		position: absolute;
		bottom: 2px;
	}
	&:hover {
		color: getColor('cold-2');

		&:after {
			@include oIconsGetIcon('arrow-right', getColor('cold-2'), 10);
		}
	}
}

.more-ons-tags {
	@include nContentBox();
	border: 1px solid getColor('warm-3');
}

.more-ons-tags__title {
	@include nContentBoxTitle();
	margin-bottom: 0;
}

.more-ons-tags__title-text {
	@include nContentBoxTitleText();
	background-color: getColorFor('page', 'background');
}
