<div class="o-grid-container">
	<div class="o-grid-row">
		{{#if isSpecialReport}}
			<div
				class="js-special-report"
				data-trackable="special-report"
				data-o-grid-colspan="12 XL11 XLoffset1"></div>
		{{else}}
			<div data-o-grid-colspan="12 L8 XL8 XLoffset1">
				{{#if @root.flags.articleRelatedContent}}
					<div class="js-story-package" data-trackable="story-package"></div>
					{{#if moreOns}}
						{{#slice moreOns limit=1}}
							{{> related/more-ons index=0}}
						{{/slice}}
						{{> ads/promoted-content }}
						{{#slice moreOns offset=1}}
							{{> related/more-ons index=1}}
						{{/slice}}
					{{else}}
						{{> ads/promoted-content }}
					{{/if}}

				{{/if}}
			</div>
			{{#ifAll @root.flags.myFtApi tags}}
				<div {{#if @root.flags.myftQrCodeFollow}}class="more-ons-tags--qr-code"{{/if}} data-o-grid-colspan="12 L4 XL3">
					{{> related/more-ons-tags}}
				</div>
			{{/ifAll}}
		{{/if}}
	</div>

	{{#if comments.enabled}}
		{{> bottom/comments}}
	{{else}}
		<p>Comments have not been enabled for this article.</p>
	{{/if}}

</div>
