<div class="o-grid-row">

	{{#if @root.flags.threeAdProposition}}
	<div data-o-grid-colspan="12 Lfalse">
		{{>ads/bottom-mobile}}
	</div>
	{{/if}}

	<div data-o-grid-colspan="12 L8 XLoffset1">
		<div class="comments__rum-indicator"></div>
		<div
			id="comments"
			data-trackable="comments"
			data-comments-lazy-load="{{lazyLoadComments}}"
			data-comments-js="{{#hashedAsset}}comments.js{{/hashedAsset}}"
			data-comments-css="{{#hashedAsset}}comments.css{{/hashedAsset}}"
			class="article__comments o-comments n-util-hide@print"></div>
	</div>

	{{#if @root.flags.threeAdProposition}}
	<div data-o-grid-colspan="false L4 XL3">
		{{>ads/bottom}}
	</div>
	{{/if}}


</div>
