<div class="article__header">
	<div class="o-grid-container">

		<div class="article__header-inner {{#if mainImageHtml}}article__header-inner--main-image{{/if}} o-grid-row">
			<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
				<header class="article__header--wrapper {{#if mainImageHtml}}article__header--wrapper--main-image{{/if}}" data-trackable="header">
					<div class="article__header-primary">
						{{#if isSpecialReport}}
							<p class="article__primary-theme">
								Special Report:
								<a href="/special-reports/{{primaryTag.id}}" class="n-content-tag n-content-tag--medium n-content-tag--with-follow" data-trackable="section-link" aria-label="posted in category {{primaryTag.name}}" data-concept-id="{{primaryTag.id}}">{{primaryTag.name}}</a>
							</p>
						{{else}}
							{{#if primaryTag}}
								{{> header/primary-tag}}
							{{/if}}
						{{/if}}
						<h1 class="article-headline">
							<span class="article-classifier__gap">{{title}}</span>
							{{#ifAll @root.flags.premiumContentIndicator premiumArticle}}
								<span class="article-classifier">Premium</span>
							{{/ifAll}}
						</h1>
					</div>
					<div class="article__header-secondary">
						{{#ifEquals contentType 'article'}}
							{{#if standFirst}}
								<p class="article__stand-first">{{{standFirst}}}</p>
							{{/if}}
						{{/ifEquals}}
						{{#if designGenre}}
							<div class="article__brand--wrapper">
								<a class="article__brand--title	n-content-tag" href={{designGenre.url}} data-trackable="brand" aria-label="part of the {{designGenre.name}} column">{{designGenre.name}}</a>
							</div>
						{{/if}}
					</div>
				</header>
				{{#if designGenre.headshot}}
				<div class="article__header-headshot">
					<img
						class="article__header-headshot--image"
						src="{{designGenre.headshot}}?source=next&amp;fit=scale-down&amp;width=150&amp;compression=best&amp;format=png&amp;quality=highest&amp;dpr=2"
						alt="Image of {{designGenre.name}}">
				</div>
				{{/if}}
			</div>
			{{#if tagToFollow}}
				{{>follow-promo center=true tag=tagToFollow buttonSize="big" isHeader=true}}
			{{else}}
				{{#if readNextArticle}}
					{{> header/read-next-header article=readNextArticle}}
				{{else}}
					{{#if tags}}
						{{> header/topics-mentioned}}
					{{/if}}
				{{/if}}
			{{/if}}
		</div>
	</div>
</div>
