<aside
	role="complementary"
	data-o-grid-colspan="hide L3 Loffset1"
	class="n-content-tags__wrapper {{#if mainImageHtml}}n-content-tags__wrapper--main-image{{/if}}">
	<h3 class="n-content-tags__title">Topics mentioned in this article</h3>
	<ul class="n-content-tags__list" data-trackable="tags">
		{{#each tags}}
		<li class="n-content-tag__list-item--vertical">
			<a
				href="{{url}}"
				data-trackable="tag"
				{{#if id}}data-concept-id="{{id}}"{{/if}}>{{name}}</a>
		</li>
		{{/each}}
	</ul>
</aside>
