.suggested-reads {}

.suggested-reads__container {
	border: 1px solid getColor('warm-3');
	position: relative;
	margin: 30px 0 20px;
	padding: 20px 20px 0;
}

.suggested-reads__title {
	@include oTypographySerifDisplay('m', $load-progressively: true);
	position: absolute;
	top: -10px;
	left: 10px;
	margin: 0;
	padding: 0 10px;
	background: getColor('pink');
	font-size: 18px;
}

.suggested-reads__subheading {
	@include oTypographySans(s, $load-progressively: true);
	margin: 0 0 10px;
	color: getColor('grey-tint5');
	border-bottom: 1px solid getColor('warm-3');
	padding-bottom: 10px;
}

.suggested-reads__topic {
	@include nLinksTopic();
	white-space: nowrap;
}

.suggested-reads__list {}

.suggested-reads__list-item {
	margin-bottom: 20px;
}

.suggested-reads__list-item__headline {
	@include oTypographySerifDisplay('m', $load-progressively: true);

	display: block;
	border-bottom: 0;
	margin: 0 0 4px;
}

.suggested-reads__list-item__headline-text {
	display: inline;
	color: oColorsGetPaletteColor('cold-2');
	font-size: inherit; // nullify H3's override
	font-weight: inherit; // nullify H3's override

	.suggested-reads__list-item__headline:hover & {
		border-bottom: 1px dotted;
	}
}

.suggested-reads__list-item__subheading {
	@include oTypographySans('s', $load-progressively: true);
	margin: 0;
	color: getColor('grey-tint4');
}
