.table-of-contents {
	border: 1px solid getColor('warm-3');
	position: relative;
	margin: 30px 0 20px;
	padding: 20px 20px 0;

	.article__body--toc & {
		@include oGridRespondTo(L) {
			display: none;
		}
	}
	.article__aside & {
		display: none;

		@include oGridRespondTo(L) {
			display: block;
		}
	}

	h2,
	h3,
	h4 { margin: 0; }
}

.table-of-contents__title {
	@include oTypographySerifDisplay(m);
	position: absolute;
	top: -10px;
	left: 10px;
	display: inline-block;
	padding: 0 10px;
	background: getColor('pink');
	font-size: 18px;
}

.table-of-contents__chapters {
	counter-reset: chapters;
	margin: 0;
	padding: 0;
	list-style: none;
}

.table-of-contents__chapter {
	border-bottom: 1px solid getColor('warm-3');
	color: getColor('cold-2');
	padding-left: 24px;
	margin-top: 10px;
	padding-bottom: 10px;
	position: relative;

	&:before {
		color: getColor('pink-tint4');
		content: counter(chapters);
		counter-increment: chapters;
		position: absolute;
		left: 0;
	}
	&:last-child {
		border-bottom: 0;
	}
}

.table-of-contents__link {
	border: 0;
	color: oColorsGetPaletteColor('cold-2');
	text-decoration: none;
}
