<div
	class="article-header-advert o-ads o-ads__center"
	data-o-ads-name="leaderboard"
	data-o-ads-targeting="pos=banlb;"
	data-o-ads-formats-default="false"
	data-o-ads-formats-small="false"
	data-o-ads-formats-medium="Leaderboard"
	data-o-ads-formats-large="Leaderboard,SuperLeaderboard"
	data-o-ads-formats-extra="Leaderboard,SuperLeaderboard"
	data-o-ads-lazy-load="true"
	data-o-ads-size="768"
	aria-hidden="true">
</div>

{{#if @root.flags.ftlabsAdBlockerHandling}}
	
	{{> ads/no-ad size='768' selector='.article-header-advert.o-ads' }}
	
{{/if}}