<div
	class="promoted-content"
	role="region"
	data-trackable="promoted-content"
	aria-labelledby="promoted-content-title">

		<div class="header">
			<span class="header__title">
				<h3 id="promoted-content-title" class="header__name">
					More from the FT
				</h3>
			</span>
		</div>
		<section class="o-grid-row">
			<div class="section__column section__column--content" data-o-grid-colspan="12">
				<div class="section__column__inner">
					<div class="o-grid-row">
						<div class="promoted-content__first column" data-o-grid-colspan="12"></div>
						<div class="promoted-content__second column" data-o-grid-colspan="12"></div>
					</div>
				</div>
			</div>
		</section>
</div>
