<div
	{{#if @root.flags.adLoadingImprovements}}
	class="advert above-header-advert o-ads o-ads__center advert--background advert--transition"
{{else}}
	class="advert above-header-advert o-ads o-ads__center"
{{/if}}
	data-o-ads-name="entry"
	data-o-ads-targeting="pos=top;"
	data-o-ads-formats-default="false"
	data-o-ads-formats-small="false"
	data-o-ads-formats-medium="Leaderboard,Responsive"
	data-o-ads-formats-large="SuperLeaderboard,Leaderboard,Responsive"
	data-o-ads-formats-extra="SuperLeaderboard,Leaderboard,Responsive"
	data-o-ads-lazy-load="true"
	aria-hidden="true">
</div>
