<div
	class="article-header-advert o-ads o-ads__center"
	data-o-ads-name="entry"
	data-o-ads-targeting="pos=top;"
	data-o-ads-formats-default="false"
	data-o-ads-formats-small="false"
	data-o-ads-formats-medium="Leaderboard,Responsive"
	data-o-ads-formats-large="SuperLeaderboard,Responsive"
	data-o-ads-formats-extra="SuperLeaderboard,Responsive"
	data-o-ads-lazy-load="true"
	data-o-ads-size="768"
	aria-hidden="true">
</div>


{{#if @root.flags.ftlabsAdBlockerHandling}}
	
	{{> ads/no-ad size='768' selector='.article-header-advert.o-ads' }}
	
{{/if}}