.sample-articles {
	color: getColor('white');
	background: getColor('cold-3');

	&__ribbon {
		@include oTypographySans(m, $load-progressively: true);
		display: block;
		background: getColor('cold-2');
		color: getColor('white');
		overflow: hidden;

		&__wrapper {
			@include oGridContainer();
		}

		&__heading,
		&__banner__heading {
			@include oTypographySans(m, $load-progressively: true);
			@include oGridColspan(12);
			display: inline-block;
			font-weight: normal;
			padding: 0 10px;
			margin: 14px 0 0;
			text-align: left;

			@include oGridRespondTo(M) {
				@include oGridColspan(7);
				padding: 0;
				margin: 24px 0;
				text-align: left;
			}

			@include oGridRespondTo(XL) {
				@include oGridPush(1);
				padding-left: 5px;
			}
		}

		&__banner__heading {
			@include oTypographySans(m, $load-progressively: true);
			padding-left: 0;

			html &[class] { /* stupid specificity */
				@include oGridRespondTo(M) {
					font-size: 24px;
				}
			}
		}

		&__subheading {
			display: none;
			@include oGridRespondTo(M) {
				display: inline;
			}
		}

		&__link {

			&.n-header__marketing-promo__link {
				@include oTypographySansBold(s, $load-progressively: true);
				padding: 5px 8px;
				margin-right: 7px;
			}

			&__wrapper,
			&__banner__wrapper {
				@include oGridColspan(12);
				margin: 14px 0;
				text-align: left;

				@include oGridRespondTo(M) {
					@include oGridColspan(5);
					margin: 20px 0;
					text-align: right;
				}

			}

			&__wrapper {
				@include oGridRespondTo(XL) {
					@include oGridPull(1);
				}
			}

			&__banner__wrapper {
				padding-left: 0;
				margin: 0 0 20px;

				@include oGridRespondTo(M) {
					margin: 24px 0;
				}

			}
		}

		&__text_link {
			color: getColor('teal-2');

			&:hover {
				color: #a4a4a4;
			}

			&__icon {
				background: url("#{$o-icons-image-service-base-url}/v1/images/raw/fticon:arrow-down?source=o-icons&tint=%232bbbbf,%232bbbbf&format=svg");
				padding: 0px 9px;
				background-size: 20px;
				background-repeat: no-repeat;
				margin: 0px 0 0 8px;
				background-position: 0 3px;
			}
		}
	}

	&__body {
		@include oGridContainer();
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
		padding: 18px 4px;

		.core & {
			overflow: hidden;
		}
	}

	&__wrapper {
		flex: 1 1 250px;
		border: 1px solid getColor('cold-1');
		margin: 14px;
		display: inline-block;
		max-width: 440px;
		padding: 24px 16px;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;

		.core & {
			@include oGridColspan(5.5);
		}
	}

	&__header {
		@include oTypographySans(s, $load-progressively: true);
		margin: 0;
		color: #a4a4a4;

		&__lead {
			@include oTypographySerif(m, $load-progressively: true);
			background: getColor('cold-3');
			color: getColor('teal-2');
			padding: 8px;
			position: absolute;
			top: -38px;
			left: 12px;

			.sample-articles__wrapper__lead & {
				margin: 0 -24px 8px;
			}
		}

	}

	&__more-button {
		@include oTypographySans(s, $load-progressively: true);
		color: inherit;
		padding: 5px;
		margin: 0 0 0 6px;
		border: 1px solid getColor('white');
		border-radius: 4px;
		width: 82px;

		i {
			display: none;
		}

	}

	&__items {
		padding: 0;
		margin: 0 0 0 6px;
		max-width: 321px;
		text-align: left;
		flex: 1 0 auto;
		align-self: baseline;
	}

	&__item {
		@include oTypographySerifDisplay(m, $load-progressively: true);
		margin-top: 1px;

		&__headline {
			margin: 0;

			&-link {
				color: inherit;
				font-weight: normal;
				border-bottom: 0;

				&:hover {
						color: #a4a4a4;
				}
			}

		}

		&__wrapper {
			list-style: none;
			margin: 8px 0;

			&:first-child {
				margin-top: 0;
			}

			&__lead {
				list-style: none;
				margin: 8px 16px;
				padding-bottom: 8px;

				&:first-child {
					margin-top: 0;
				}

				&:before {
					content: '>';
					float: left;
					margin: 3px 0 0 -16px;
					color: getColor('teal-2');
					position: absolute;
					font-weight: bold;
				}

			}

		}

	}

	&__count {
		@include oTypographySans(s, $load-progressively: true);
		color: getColor('teal-2');
		margin-bottom: 16px;
	}

}


.jump-to-block {
	overflow: hidden;
	/* This is a kind of "hack" to push the block down when visited via href hash */
	&::before {
		display: block;
		content: " ";
		margin-top: -50px;
		height: 50px;
		visibility: hidden;
	}
}
