.sample-articles {
	color: getColor('white');
	background: getColor('cold-3');

	&__ribbon {
		color: getColor('white');
		background: getColor('cold-2');

		&__wrapper {
			@include oTypographySans(m, $load-progressively: true);
			padding-top: 20px;
			padding-bottom: 20px;
		}

		&__heading,
		&__banner__heading {
			font-size: inherit;
			font-weight: inherit;
			margin-top: 0;
			margin-bottom: 0;
		}

		&__banner__heading {
			@include oGridRespondTo(M) {
				font-size: 24px;
			}
		}

		&__subheading {
			display: none;

			@include oGridRespondTo(M) {
				display: inline;
			}
		}

		&__link {
			&.n-header__marketing-promo__link {
				@include oTypographySansBoldSize(s);
				padding: 5px 8px;
			}

			&__wrapper,
			&__banner__wrapper {
				@include oGridRespondTo(M) {
					text-align: right;
				}
			}

			&__wrapper {
				margin-top: 14px;

				@include oGridRespondTo(M) {
					margin-top: 0;
				}
			}

			&__banner__wrapper:after {
				@include nGetImage('icon', 'arrow-down', getColor('teal-2'), 20);
				content: '';
				vertical-align: bottom;
			}
		}

		&__text_link {
			color: getColor('teal-2');

			&:hover {
				color: #a4a4a4;
			}
		}
	}

	&__body {
		padding-top: 18px;
		padding-bottom: 18px;

		.core & {
			overflow: hidden;
		}
	}

	&__col {
		display: flex;
	}

	&__wrapper {
		flex: 1;
		position: relative;
		border: 1px solid getColor('cold-1');
		margin: 14px 0;
		padding: 24px 16px;
	}

	&__header {
		@include oTypographySans(s, $load-progressively: true);
		margin: 0;
		color: #a4a4a4;

		&__lead {
			@include oTypographySerifDisplay(m, $load-progressively: true);
			background: getColor('cold-3');
			color: getColor('teal-2');
			margin: 0;
			padding: 0 8px;
			position: absolute;
			top: -0.5em;

			.sample-articles__wrapper__lead & {
				margin: 0 -24px 8px;
			}
		}

	}

	&__more-button {
		@include oTypographySansSize(s, $with-progressive-size: true);
		color: inherit;
		padding: 5px 10px;
		margin: 0 0 0 6px;
		border: 1px solid getColor('white');
		border-radius: 4px;

		i {
			display: none;
		}

	}

	&__items {
		padding: 0;
		margin: 0 0 0 6px;
		max-width: 321px;
		text-align: left;
		flex: 1 0 auto;
		align-self: baseline;
	}

	&__item {
		@include oTypographySerifDisplay(m, $load-progressively: true);
		margin-top: 1px;

		&__headline {
			margin: 0;

			&-link {
				color: inherit;
				font-weight: normal;
				border-bottom: 0;

				&:hover {
						color: #a4a4a4;
				}
			}

		}

		&__wrapper {
			list-style: none;
			margin: 8px 0;

			&:first-child {
				margin-top: 0;
			}

			&__lead {
				list-style: none;
				margin: 8px 16px;
				padding-bottom: 8px;

				&:first-child {
					margin-top: 0;
				}

				&:before {
					content: '>';
					float: left;
					margin: 3px 0 0 -16px;
					color: getColor('teal-2');
					position: absolute;
					font-weight: bold;
				}

			}

		}

	}

	&__count {
		@include oTypographySans(s, $load-progressively: true);
		color: getColor('teal-2');
		margin-bottom: 16px;
	}

}


.jump-to-block {
	overflow: hidden;
	/* This is a kind of "hack" to push the block down when visited via href hash */
	&::before {
		display: block;
		content: " ";
		margin-top: -50px;
		height: 50px;
		visibility: hidden;
	}
}
