.sample-articles {
	color: getColor('white');
	background: getColor('cold-3');

	&__ribbon {
		@include oTypographySans(m, $load-progressively: true);
		display: block;
		background: getColor('cold-2');
		color: getColor('white');
		overflow: hidden;

		&__wrapper {
			@include oGridContainer();
		}

		&__heading {
			@include oTypographySans(m, $load-progressively: true);
			@include oGridColspan(12);
			display: inline-block;
			font-weight: normal;
			padding: 0 10px;
			margin: 14px 0 0;
			text-align: left;

			@include oGridRespondTo(M) {
				@include oGridColspan(9);
				padding: 0;
				margin: 24px 0;
				text-align: left;
			}

			@include oGridRespondTo(XL) {
				@include oGridPush(1);
			}
		}

		&__subheading {
			display: none;
			@include oGridRespondTo(M) {
				display: inline;
			}
		}

		&__link {

			&__wrapper {
				@include oGridColspan(12);
				margin: 14px 0;
				text-align: left;

				@include oGridRespondTo(M) {
					@include oGridColspan(3);
					margin: 20px 0;
					text-align: right;
				}

				@include oGridRespondTo(XL) {
					@include oGridPull(1);
				}
			}
		}

		&__text_link {
			color: getColor('teal-2');
		}
	}

	&__body {
		@include oGridContainer();
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
		padding: 18px 4px;
	}

	&__wrapper {
		flex: 1 1 250px;
		border: 1px solid getColor('cold-1');
		margin: 14px;
		display: inline-block;
		max-width: 440px;
		padding: 24px 16px;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&__header {
		@include oTypographySans(s, $load-progressively: true);
		margin: 0;
		color: getColor('grey-tint2');

		&__lead {
			@include oTypographySerif(m, $load-progressively: true);
			background: getColor('cold-3');
			color: getColor('teal-2');
			padding: 8px;
			position: absolute;
			top: -38px;
			left: 12px;

			.sample-articles__wrapper__lead & {
				margin: 0 -24px 8px;
			}
		}

	}

	&__more-button {
		@include oTypographySans(s, $load-progressively: true);
		color: inherit;
		padding: 5px;
		margin: 0;
		border: 1px solid getColor('white');
		border-radius: 4px;
		width: 82px;

		i {
			display: none;
		}

	}

	&__items {
		padding: 0;
		margin: 0;
		max-width: 321px;
		text-align: left;
		flex: 2;
		align-self: baseline;
	}

	&__item {
		@include oTypographySerifDisplay(m, $load-progressively: true);

		&__headline {
			margin: 0;

			&-link {
				color: inherit;
				font-weight: normal;
				border-bottom: 0;
			}

		}

		&__wrapper {
			list-style: none;
			margin: 8px 0;

			&:first-child {
				margin-top: 0;
			}

			&__lead {
				list-style: none;
				margin: 8px 16px;
				padding-bottom: 8px;

				&:before {
					content: '>';
					float: left;
					margin: 3px 0 0 -16px;
					color: getColor('teal-2');
					position: absolute;
					font-weight: bold;
				}

			}

		}

	}

	&__count {
		@include oTypographySans(s, $load-progressively: true);
		color: getColor('teal-2');
		margin-bottom: 16px;
	}

}


.jump-to-block {
	/* This is a kind of "hack" to push the block down when visited via href hash */
	&::before {
		display: block;
		content: " ";
		margin-top: -50px;
		height: 50px;
		visibility: hidden;
	}
}
